<html>
  <body>
      <h1>Login</h1>
      <form method="POST" action="/new">
          <label for="username">Username</label>
          <input type="text" id = "username" name="username"><br><br>
          <input type="submit" value="Submit">
       </form>
       <button>Delete</button>
  </body>
</html>